nav {
  background: #F7F7F7;
}
#top {
  margin-bottom: 108px;
}
.customMargin {
  transition: all ease .2s !important;
  margin: 10px;
}
.hidden {
  display: none;
  transition: all ease .2s !important;
}
.itemsNav {
  transition: all ease .2s !important;
  margin: 0 auto !important;
}
.weightFontBold {
  font-weight: bold;
}

.orangeColor {
  color: #FA4A0C;
  transition: all ease .2s;
}
nav .orangeColor {
  color: #FA4A0C;
  border-bottom: 2px solid #FA4A0C;
  transition: all ease .2s;
}
.orangeColor:hover {
  color: #a03007;
}
.defaultColorLink {
  color: #252B42;
}
.defaultColorLink:hover {
  color: #4e5161;
  transition: all ease .2s;
}